.ibgib
# .vscode
node_modules
# src
# ibgib_cmds.md
*.private
# tsconfig*

# i have the dist node_modules staying intact for publishing purposes
!dist/node_modules
published

tmp.md
tmp2.md
*.tsbuildinfo
